<link rel="import" href="bower_components/polymer/polymer.html">
<link rel="import" href="bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="bower_components/iron-pages/iron-pages.html">
<link rel="import" href="components/student-main-doc.html">
<link rel="import" href="components/teacher-main-doc.html">
<dom-module id="main-doc">
    <template>
            <paper-tabs selected={{pageNum}}>
                <paper-tab>Student details</paper-tab>
                <paper-tab>Teacher details</paper-tab>
            </paper-tabs>
            <iron-pages selected={{pageNum}}>
                <student-main-doc></student-main-doc>
                <teacher-main-doc></teacher-main-doc>
            </iron-pages>
    </template>   
    <script>
        Polymer({
            is : "main-doc",
            //initalization
            ready : function() {
                this.pageNum = 0;
            }
        });

    </script>
</dom-module>

