<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="student-details"> <!--parent - this is the root element -->
    <style>
        p {
           color: blue;
        }
        #studentBody,#luckyNumber {
        display: inline-block;
        width: 35%;
      }
      #luckyNumber {
        height: 20%;
      }
      #name {
        color: var(--physics-color);
      }
    </style>
    <template >
        <div id="studentBody"> <!--child of this.root // access it using childNode[child number] syntax-->
            <h1>Student details</h1>
            <p id="name">Name: {{personName}}</p>
            <p>ID: {{personId}}</p>
            <label for="physics">Enter physics marks</label>
            <input id="physics" value="{{physicsMark::input}}">
            <br>
            <br>
            <label for="chem">Enter chemistry marks</label>
            <input id="chem" value="{{chemMark::input}}">  
            <p >Total marks by {{personName}} : {{_computeTotal(physicsMark,chemMark)}}</p>        
        </div>
        <div id="luckyNumber">
            <button on-tap="fireButtonTap">Click Me to show your lucky number</button>
        </div>
    </template>
    <script>

        detailsBehaviour = {
            properties : {
                personName : {
                    type : String,
                    value : "Bala"
                },
                personId : {
                    type: String,
                    value : "10"
                }
            }
        };
        Polymer({
            is: "student-details",
            behaviors : [detailsBehaviour],
            properties : {
                sportsQuota : {
                    type: Boolean,
                    value: false
                },
                physicsMark : {
                    type: Number,
                    notify: true,
                    value : 0,
                    observer : '_lessMarkHighlight'
                },
                chemMark : {
                    type: Number,
                    notify: true,
                    value : 0,
                    observer : '_lessMarkHighlight'
                },
                lowMarks : {
                    type : String,
                    value : "black"
                }
            },
            _lessMarkHighlight: function(updatedmark){
                if(updatedmark < 60)
                {
                    this.customStyle['--physics-color'] = 'red';
                    this.updateStyles();
                    console.log("low marks");
                }
                else {
                    this.customStyle['--physics-color'] = 'blue';
                    this.updateStyles();                   
                }
            },
            printConsole : function() {
                console.log("Name of the student: " + this.personName + '\n' + "Id of the student: " +this.personId);
            },
            _computeSportsQuotaCheck : function(sportsQuota) {
                if(sportsQuota)
                    return "entered in";
                else
                    return "didnt enter in";
            },
            _computeTotal : function(...n){
                let i,sum = 0;
                for(i=0; i<n.length;i+=1){
                    sum = parseInt(n[i]) + sum;
                } 
                return sum;
            },
            fireButtonTap : function() {
                this.fire("buttonTap")
            },   
            ready : function(){
                if(this.sportsQuota){
                    let childNodeLength = Polymer.dom(this.root).childNodes[1].childNodes.length;
                    //assuminig button node will be always last
                    let beforeButtonNode = Polymer.dom(this.root).childNodes[1].childNodes[childNodeLength-2];
                    let paraCreation = document.createElement('p')
                    paraCreation.textContent = `${this.personName} entered in sports Quota`;
                    Polymer.dom(this.root).childNodes[1].insertBefore(paraCreation,beforeButtonNode);
                }
            }
        });
    </script>
</dom-module>