<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="student-details.html">

<dom-module id="student-main-doc">
    <style>
        
    </style>
    <template>
        <div id="mainBody">
            <student-details id="bala" person-name="Bala" person-id="S12"  physics-mark="{{phyMarkBala}}" chem-mark="{{chemMarkBala}}">

            </student-details>
            <student-details id="narayana" person-name="Narayana" person-id="S13" physics-mark="{{phyMarkNarayana}}"" chem-mark="{{chemMarkNarayana}}" sports-quota>

            </student-details>
            <p>Physics average across all the students: {{_computeAverage(phyMarkBala,phyMarkNarayana)}}</p>
            <p>Chemistry average across all the students: {{_computeAverage(chemMarkBala,chemMarkNarayana)}}</p>
        </div>
    </template>   
    <script>
        Polymer({
            is : "student-main-doc",
            properties : {
                phyMarkBala : {
                    type : String,
                    notify : true,
                    value: 0,
                    observer : '_computeAverage'
                },
                phyMarkNarayana : {
                    type : String,
                    notify : true,
                    value: 0,
                    observer : '_computeAverage'
                },
                chemMarkBala : {
                    type : String,
                    notify : true,
                    value: 0,
                    observer : '_computeAverage'
                },
                chemMarkNarayana : {
                    type : String,
                    notify : true,
                    value: 0,
                    observer : '_computeAverage'
                }
            },
            // average computation
            _computeAverage : function(...n){
                let i,avr = 0;
                for(i=0; i<n.length;i+=1){
                    avr = parseInt(n[i]) + avr;
                } 
                return avr/n.length;
            },
            paraAndRandomGenerator : function(id){ //button will be removed as we over write it -> this is done to generate 
            //the lucky num once
                    let paraCreation = document.createElement('p');
                    paraCreation.textContent = `${Math.floor((Math.random() * 100) + 1)} is your lucky number`;
                    document.getElementById(id).childNodes[3].innerHTML = paraCreation.textContent;
                },
            ready : function(){
                this.$.bala.printConsole();
            },
            //for debug
            temp : function(qwe) {
                console.log(qwe);
                this.unlisten(this.$.bala,'buttonTap','temp(qwe)')
            },
            attached : function() {
                //event lister for lucky number generator
                //this.listen(this.$.bala,'buttonTap','paraAndRandomGenerator("bala")')
               // this.listen(this.$.bala,'buttonTap','temp("qwer")')
               //while using this.listen, unable to send the argument
                 document.getElementById('bala').addEventListener('buttonTap', this.paraAndRandomGenerator.bind(this,'bala'));
                 document.getElementById('narayana').addEventListener('buttonTap', this.paraAndRandomGenerator.bind(this,'narayana'));
            }
        });


    </script>
</dom-module>


