<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="student-details"> <!--parent - this is the root element -->
    <style>
        p {
           color: blue;
        }
        #studentBody,#luckyNumber {
        display: inline-block;
        width: 35%;
      }
      #luckyNumber {
        background-color: darkgray;
        height: 20%;
      }
    </style>
    <template >
        <div id="studentBody"> <!--child of this.root // access it using childNode[child number] syntax-->
            <h1>Student details</h1>
            <p>Name: {{personName}}</p>
            <p>ID: {{personId}}</p>
            <button on-tap="fireButtonTap">Click Me to show your lucky number</button>
        </div>
        <div id="luckyNumber">Here comes your lucky number
        </div>
    </template>
    <script>

        detailsBehaviour = {
            properties : {
                personName : {
                    type : String,
                    value : "Bala"
                },
                personId : {
                    type: String,
                    value : "10"
                }
            }
        };
        Polymer({
            is: "student-details",
            behaviors : [detailsBehaviour],
            properties : {
                sportsQuota : {
                    type: Boolean,
                    value: false
                }
            },
            printConsole : function() {
                console.log("Name of the student: " + this.personName + '\n' + "Id of the student: " +this.personId);
            },
            _computeSportsQuotaCheck : function(sportsQuota) {
                if(sportsQuota)
                    return "entered in";
                else
                    return "didnt enter in";
            },
            fireButtonTap : function() {
                this.fire("buttonTap")
            },
            //for debug          
            ready : function(){
                if(this.sportsQuota){
                    let childNodeLength = Polymer.dom(this.root).childNodes[1].childNodes.length;
                    //assuminig button node will be always last
                    let beforeButtonNode = Polymer.dom(this.root).childNodes[1].childNodes[childNodeLength-2];
                    let paraCreation = document.createElement('p')
                    paraCreation.textContent = `${this.personName} entered in sports Quota`;
                    Polymer.dom(this.root).childNodes[1].insertBefore(paraCreation,beforeButtonNode);
                }
                
                //console.log(Polymer.dom(this.root).childNodes[1]);
            }
        });
    </script>
</dom-module>