<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="teacher-details.html">

<dom-module id="teacher-main-doc">
    <style>
        /* #bala div > p{--student-details-color: chartreuse;} */
        :host ::content > #mainBody > #xxx  p { color: chartreuse;} 
        
    </style>
    <template>
        <div id="mainBody">
            <teacher-details id="xxx" person-name="xxx" person-id="T5" department="EEE"></teacher-details>
            <teacher-details id="yyy" person-name="yyy" person-id="T6"></teacher-details>
        </div>
    </template>   
    <script>

        Polymer({
            is : "teacher-main-doc",
            paraAndRandomGenerator : function(id){ //button will be removed as we over write it -> this is done to generate 
            //the lucky num once
                    let paraCreation = document.createElement('p');
                    paraCreation.textContent = `${Math.floor((Math.random() * 100) + 1)} is your lucky number`;
                    document.getElementById(id).childNodes[3].innerHTML = paraCreation.textContent;
                },
            attached : function(){
                document.getElementById('xxx').addEventListener('buttonTap', this.paraAndRandomGenerator.bind(this,'xxx'));
                document.getElementById('yyy').addEventListener('buttonTap', this.paraAndRandomGenerator.bind(this,'yyy'));
            }
        });


    </script>
</dom-module>


