<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="teacher-details">
    <style>
      #teacherBody,#luckyNumber {
        display: inline-block;
        width: 35%;
      }

    </style>
    <template>
        <div id="teacherBody">
            <h1>Teacher details</h1>
            <p>Name : {{personName}}</p>     
            <p>ID : {{personId}}</p>
            <p>Department : {{department}}</p>
          </div>
          <div id="luckyNumber">
            <button on-tap="fireButtonTap">Click Me to show your lucky number</button>
        </div>
        </div>
    </template>

    <script>
      // element registration
      Polymer({
        is: "teacher-details",
        behaviors : [detailsBehaviour],
        // add properties and methods on the element's prototype

        properties: {
          // declare properties for the element's public API
            department : {
                type : String,
                value : 'Didn\'t give the info'
            }
          },
          fireButtonTap : function() {
                this.fire("buttonTap")
            },
      });
    </script>

  </dom-module>